
.header__logo {
    position:relative;
    height: 52px;
    width: 176px;
}

@media screen and (max-width: 768px)
        {
            .header__logo {
                margin-left: 24px;
                width: 142px;
                height: 42px; 
            }
        }

        @media screen and (max-width: 320px)
        {
            .header__logo {
                width: 142px;
               height: 42px;
               margin-left: 16px;
               margin-top: 16px;
            }
        }