.cover__title {
    max-width: 560px;
    margin: 0;
    align-self:center;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 2;
    font-style: normal;
    font-weight: 900;
    
}

    @media screen and (max-width: 767px) {
     .cover__title {
    max-width: 288px;
    height: 70px;
    font-size: 32px;
    line-height: 35px;
    margin-top: 33px;
       
}
    }