.place__paragraph {
    max-width: 484px;
    margin-top :48px;
    margin-left: 40px;
    
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    
    }
    
    @media screen and (max-width: 320px)
    {
        .place__paragraph {
            margin-left: 16px;
        }
    }