.lead__subtitle {
    
    width: 640px;
    margin:  0 auto 64px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
     
 }


 @media screen and (max-width: 1023px) {
     .lead__subtitle {
         width: 640px;
        font-size: 30px;
        line-height: 36px;
     }
    }

 @media screen and (max-width: 767px)
    
    {
        .lead__subtitle {
            max-width: 288px;
            margin: 0;
            margin-top: 16px;
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 20px; }
    
}
