.photo-grid {
    max-width: 1184px;
    
    display: grid;
    margin: auto;
    margin-top: 92px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    }
    
    @media screen and (max-width: 1024px) {
        .photo-grid {
           max-width: 928px;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 14px;
        }
    }
    
    @media screen and (max-width: 768px)
        { 
            .photo-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 16px;
                max-width: 720px;
                margin-left: 24px;
                margin-right: 24px;

        }
    }
    
    @media screen and (max-width: 320px)
    {
        .photo-grid {
     grid-template-columns: repeat(1, 1fr);
       grid-gap: 12px;
       margin: 64px 16px 16px;
    }
    }
