.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin: 0 0 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    margin: 0 48px 80px;
  }
}

@media screen and (max-width: 860px) {
  .place {
    grid-template-columns: 330px 1fr;
    margin: 0 24px 73px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: 1fr;
    margin: 0;
    gap: 32px;
    margin-bottom: 50px;
  }
}
